.modalBackground{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
    
}

.modalBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 41.2rem;
    height: 21rem;
    padding: 2rem;
    background-color: var(--white-bg);
    display: flex;
    border-radius: 16px;
}

.editTitle > label, .editContent > label{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin: 1rem 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
} 

.editTitle input {
    width: 38rem;
    height: 2rem;
    border-radius: 8px;
    padding: 0.5rem;
    border: 1px solid var(--gray-variant);
}

.editContent textarea{
    width: 38rem;
    height: 4.5rem;
    border-radius: 8px;
    border: 1px solid var(--gray-variant);
    resize: none;
    margin-bottom: 1rem;
    padding: 0.5rem;

}

.modalButtons{
    float: right;
}


.cancelButton, .saveButton{
    width: 7.5rem;
    height: 2rem;
    border-radius: 8px;
    position: relative;
    margin-left: 1rem;
}

.saveButton{
    border: none;
    background-color: var(--green);
    color: var(--white-bg);
}

.cancelButton{
    border: 1px solid var( --gray-border);
    background-color: var(--white-bg);
}


@media (max-width: 1200px) {
    .modalBox{
        width: 70rem;
        height: 27rem;
    }

    .formTitle{
        font-size: 3rem;
    }

    .editTitle > label, .editContent > label{
       font-size: 1.6rem;
    } 
    
    .editTitle input {
     font-size: 1.3rem;
     width: 66rem;
       
    }

    .editTitle input::placeholder {
        font-size: 1.3rem;
          
       }

    .editContent textarea::placeholder{
     font-size: 1.3rem;
    }   

    .editContent textarea{
     font-size: 1.3rem;
     width: 66rem;
     height: 7rem;
    
    }

    .cancelButton, .saveButton{
        width: 7rem;
        height: 3rem;
        font-size: 1.3rem;
    }

}

@media (max-width: 1024px) {
    .modalBox{
        width: 60rem;
        height: 25rem;
    }

    .formTitle{
        font-size: 2rem;
    }

    .editTitle > label, .editContent > label{
       font-size: 1.5rem;
    } 
    
    .editTitle input {
     width: 56rem;
       
    }

    .editContent textarea{
     width: 56rem;
    
    }

    .cancelButton, .saveButton{
        width: 6rem;
        height: 3rem;
        font-size: 1rem;
    }
    
}

@media (max-width: 768px) {

    .modalBox{
        width: 45rem;
    }

    .formTitle{
        font-size: 1.5rem;
    }

    .editTitle > label, .editContent > label{
       font-size: 1rem;
    } 
    
    .editTitle input {
     width: 41rem;
       
    }

    .editContent textarea{
     width: 41rem;
    
    }


    .cancelButton, .saveButton{
        width: 5rem;
        font-size: 1rem;
    }

} 
   
@media (max-width: 480px    ) {

    .modalBox{
        width: 26rem;
    }

    .formTitle{
        font-size: 1.5rem;
    }

    .editTitle > label, .editContent > label{
       font-size: 1rem;
    } 
    
    .editTitle input {
     width: 22rem;
       
    }

    .editContent textarea{
     width: 22rem;
    
    }


    .cancelButton, .saveButton{
        width: 4rem;
        font-size: 0.8rem;
    }

} 

@media (max-width: 320px    ) {
    .modalBox{
        width: 18rem;
    }

    .formTitle{
        font-size: 1.5rem;
    }

    .editTitle > label, .editContent > label{
       font-size: 1rem;
    } 
    
    .editTitle input {
     width: 14rem;
       
    }

    .editContent textarea{
        width: 14rem;
    
    }


    .cancelButton, .deleteButton{
        width: 3.5rem;
        font-size: 0.7rem;
    }

} 
